RewriteEngine on

# If a directory or a file exists, use the request directly
RewriteRule ^pdf(/.+)?$ PdfoouploadS/$1 [L,PT]
RewriteRule ^photos(/.+)?$ photosFoRPdF/$1 [L,PT]
RewriteRule ^image(/.+)?$ ImageStyleWeb/$1 [L,PT]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward the request to index.php
RewriteRule . index.php